@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ddd;
  --foreground: #171717;
  --accent: #a70;
  --card: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #ededed;
    --accent: #fd8;
    --card: #000;
  }
  input {
    background: var(--foreground);
    color: var(--background);
    /*color: var(--accent);*/
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  input {
    /*background: var(--foreground);*/
    /*color: var(--background);*/
    /*color: var(--accent);*/
  }
  .card {
    background: var(--card);
  }
}

.madlib {
  strong {
    color: var(--accent);
    font-size: 110%;
  }
}